In [5]:
from time import sleep
from loguru import logger
import pandas as pd
from vnpy.event import EventEngine, Event
from vnpy.trader.event import EVENT_LOG
from vnpy_da import DaGateway
from vnpy_scripttrader import ScriptTraderApp, ScriptEngine, init_cli_trading

In [2]:
setting = {
        "用户名": "AF20230451",
        "密码": "888888",
        "经纪商代码": "DAHK",
        "交易服务器": "222.73.119.230:7003",
        "行情服务器": "222.73.105.170:9430",
        "授权码": "porl99bbo/jrfib5xxgagza5giggzr/u",
    }

In [16]:
engine = init_cli_trading([DaGateway])
engine.connect_gateway(setting, gateway_name="DA")
# req = SubscribeRequest(symbol="6A2309", exchange=Exchange.CME)
engine.strategy_active = True

找不到数据服务驱动vnpy_，使用默认的RQData数据服务
2023-09-27 19:15:32.532494	交易服务器连接成功
2023-09-27 19:15:32.536508	行情服务器连接成功

In [4]:
engine.get_contract("6A2312.CME")

ContractData(gateway_name='DA', extra=None, symbol='6A2312', exchange=<Exchange.CME: 'CME'>, name='澳元2312', product=<Product.FUTURES: '期货'>, size=100000.0, pricetick=0.0001, min_volume=1, stop_supported=False, net_position=False, history_data=True, option_strike=0, option_underlying='', option_type=None, option_listed=None, option_expiry=None, option_portfolio='', option_index='')

In [30]:
# 查询资金
engine.get_all_accounts(use_df=True)

   gateway_name accountid    balance  frozen  available vt_accountid
0            DA       AUD       0.00     0.0       0.00       DA.AUD
1            DA       CHF       0.00     0.0       0.00       DA.CHF
2            DA       EUR       0.00     0.0       0.00       DA.EUR
3            DA       GBP       0.00     0.0       0.00       DA.GBP
4            DA       HKD       0.00     0.0       0.00       DA.HKD
5            DA  HKD-HKFE       0.00     0.0       0.00  DA.HKD-HKFE
6            DA       JPY       0.00     0.0       0.00       DA.JPY
7            DA       KRW       0.00     0.0       0.00       DA.KRW
8            DA       MYR       0.00     0.0       0.00       DA.MYR
9            DA    NY-RMB       0.00     0.0       0.00    DA.NY-RMB
10           DA    NY-USD       0.00     0.0       0.00    DA.NY-USD
11           DA       RMB       0.00     0.0       0.00       DA.RMB
12           DA  RMB-HKFE       0.00     0.0       0.00  DA.RMB-HKFE
13           DA       SGD       0.00     0.0       0.00       DA.SGD
14           DA       THB       0.00     0.0       0.00       DA.THB
15           DA       TWD       0.00     0.0       0.00       DA.TWD
16           DA       USD  999522.22     0.0  999522.22       DA.USD
17           DA  USD-HKFE       0.00     0.0       0.00  DA.USD-HKFE

In [32]:
engine.get_trades(["DA.20230928000011"])

[]

In [37]:
# 查询持仓
engine.get_all_positions(use_df=True)

,gateway_name,symbol,exchange,direction,volume,frozen,price,pnl,yd_volume,vt_symbol,vt_positionid
0,DA,6A2312,Exchange.CME,Direction.LONG,4,0,0.643112,0,0,6A2312.CME,DA.6A2312.CME.多
1,DA,6A2312,Exchange.CME,Direction.SHORT,0,0,0.000000,0,0,6A2312.CME,DA.6A2312.CME.空

In [38]:
# 查询持仓
engine.get_all_positions(use_df=True)

,gateway_name,symbol,exchange,direction,volume,frozen,price,pnl,yd_volume,vt_symbol,vt_positionid
0,DA,6A2312,Exchange.CME,Direction.LONG,3,0,0.643233,0,0,6A2312.CME,DA.6A2312.CME.多
1,DA,6A2312,Exchange.CME,Direction.SHORT,0,0,0.000000,0,0,6A2312.CME,DA.6A2312.CME.空

In [22]:
engine.get_all_active_orders(use_df=True)

In [8]:
all_contracts = engine.get_all_contracts(use_df=True)
all_contracts.head()

,gateway_name,symbol,exchange,name,product,size,pricetick,min_volume,stop_supported,net_position,history_data,option_strike,option_underlying,option_type,option_listed,option_expiry,option_portfolio,option_index,vt_symbol
0,DA,6A2309,Exchange.CME,澳元2309,Product.FUTURES,100000.0,0.0001,1,False,False,True,0.0,,None,None,NaT,,,6A2309.CME
1,DA,6A2310,Exchange.CME,澳元2310,Product.FUTURES,100000.0,0.0001,1,False,False,True,0.0,,None,None,NaT,,,6A2310.CME
2,DA,6A2311,Exchange.CME,澳元2311,Product.FUTURES,100000.0,0.0001,1,False,False,True,0.0,,None,None,NaT,,,6A2311.CME
3,DA,6A2312,Exchange.CME,澳元2312,Product.FUTURES,100000.0,0.0001,1,False,False,True,0.0,,None,None,NaT,,,6A2312.CME
4,DA,6A2401,Exchange.CME,澳元2401,Product.FUTURES,100000.0,0.0001,1,False,False,True,0.0,,None,None,NaT,,,6A2401.CME