In [1]:
from XQuant import DataAPI

In [8]:
print(list(filter(lambda x:'__' not in x, DataAPI.__dict__.keys())))

['get_data', 'get_data_from_sql', 'get_data_gm_future', 'get_data_gm_factor', 'get_data_general', 'select', 'select_date', 'select_ticker', 'select_fields']

- get_data封装了get_data_from_sql， get_data_gm_future， get_data_gm_factor， get_data_general
- select封装了select_date，select_ticker，select_fields
get系列获取数据，select系列筛选数据

In [2]:
# 从h5数据读取
DataAPI.get_data("ResConSecTarpriScore", begin="20210501", ticker="000400")

,secCode,secName,repForeDate,conTarPriceType,conTarPrice,tarPriceLastDate,conScoreType,conScore,scoreLastDate,closePrice,conTarReturn,updateTime
0,000400,许继电气,2022-01-04,3,NaN,NaN,2,0.75,2021-11-01,24.94,NaN,2022-01-05 00:12:12
1,000400,许继电气,2022-01-05,3,NaN,NaN,2,0.75,2021-11-01,23.94,NaN,2022-01-06 00:12:02
2,000400,许继电气,2022-01-06,3,NaN,NaN,2,0.75,2021-11-01,25.05,NaN,2022-01-07 00:12:03
3,000400,许继电气,2022-01-07,3,NaN,NaN,2,0.75,2021-11-01,24.86,NaN,2022-01-08 00:12:22
4,000400,许继电气,2022-01-10,3,NaN,NaN,2,0.75,2021-11-01,24.93,NaN,2022-01-11 00:12:01
...,...,...,...,...,...,...,...,...,...,...,...,...
539,000400,许继电气,2023-07-24,2,25.65,2023-07-04,2,1.00,2023-07-04,22.66,0.1320,2023-07-24 17:32:22
540,000400,许继电气,2023-07-25,2,25.65,2023-07-04,2,1.00,2023-07-04,22.72,0.1290,2023-07-25 17:32:17
541,000400,许继电气,2023-07-26,2,25.65,2023-07-04,2,1.00,2023-07-04,22.25,0.1528,2023-07-26 17:32:24
542,000400,许继电气,2023-07-27,2,25.65,2023-07-04,2,1.00,2023-07-04,22.31,0.1497,2023-07-27 17:32:15
543,000400,许继电气,2023-07-28,2,25.65,2023-07-04,2,1.00,2023-07-04,22.25,0.1528,2023-07-28 17:32:17

In [3]:
# 期货数据
DataAPI.get_data(name="Price_Volume_Data/main", begin='20230101')

,symbol,open,high,low,close,volume,amount,position,bob,eob
0,CZCE.RS311,5982.0,5982.0,5982.0,5982.0,1,59820.0,5,2023-01-03 09:07:00+08:00,2023-01-03 09:08:00+08:00
1,CZCE.RS311,5967.0,6055.0,5967.0,6055.0,3,180750.0,6,2023-01-04 09:00:00+08:00,2023-01-04 09:01:00+08:00
2,CZCE.RS311,6067.0,6067.0,6067.0,6067.0,1,60690.0,7,2023-01-04 09:19:00+08:00,2023-01-04 09:20:00+08:00
3,CZCE.RS311,6079.0,6079.0,6079.0,6079.0,1,60760.0,8,2023-01-04 09:33:00+08:00,2023-01-04 09:34:00+08:00
4,CZCE.RS311,6053.0,6053.0,6053.0,6053.0,1,60560.0,7,2023-01-04 09:46:00+08:00,2023-01-04 09:47:00+08:00
...,...,...,...,...,...,...,...,...,...,...
1728778,DCE.b2306,4142.0,4145.0,4141.0,4144.0,234,9694930.0,26489,2023-05-12 14:55:00+08:00,2023-05-12 14:56:00+08:00
1728779,DCE.b2306,4145.0,4146.0,4144.0,4144.0,226,9368220.0,26543,2023-05-12 14:56:00+08:00,2023-05-12 14:57:00+08:00
1728780,DCE.b2306,4145.0,4145.0,4143.0,4144.0,275,11395840.0,26532,2023-05-12 14:57:00+08:00,2023-05-12 14:58:00+08:00
1728781,DCE.b2306,4143.0,4145.0,4138.0,4140.0,397,16441790.0,26391,2023-05-12 14:58:00+08:00,2023-05-12 14:59:00+08:00
1728782,DCE.b2306,4140.0,4140.0,4130.0,4132.0,420,17372910.0,26204,2023-05-12 14:59:00+08:00,2023-05-12 15:00:00+08:00

In [4]:
# 原生的掘金因子数据
DataAPI.get_data(name="ACCA_gm", begin='20230101')

,symbol,end_date,MANANETR,NETPROFIT,TOTASSET,pub_date
0,SHSE.600000,2022-12-31,3.650990e+11,5.199700e+10,8.704651e+12,2023-04-19
1,SHSE.600004,2022-12-31,8.685067e+08,-1.091790e+09,2.694079e+10,2023-04-19
2,SHSE.600006,2022-12-31,-2.900338e+08,2.948464e+08,1.768608e+10,2023-04-11
3,SHSE.600007,2022-12-31,1.824331e+09,1.116853e+09,1.282729e+10,2023-03-29
4,SHSE.600008,2022-12-31,3.024188e+09,4.374556e+09,1.048832e+11,2023-04-13
...,...,...,...,...,...,...
2147,SZSE.301369,2022-12-31,1.438536e+08,1.264835e+08,1.705313e+09,2023-03-20
2148,SZSE.301377,2022-12-31,1.561280e+08,2.226261e+08,2.935961e+09,2023-04-15
2149,SZSE.301380,2022-12-31,2.478149e+07,5.870761e+07,1.026831e+09,2023-03-20
2150,SZSE.301389,2022-12-31,1.850968e+08,1.688592e+08,2.403445e+09,2023-03-24
2151,SZSE.301391,2022-12-31,6.872201e+07,1.313749e+08,2.534952e+09,2023-03-15

In [7]:
# 从sql源获取数据
DataAPI.get_data('gmData_history', begin='20230801')

,symbol,frequency,open,high,low,close,volume,amount,pre_close,bob,eob,position,record_time
0,SHSE.600136,1d,2.72,2.81,2.70,2.75,11846985,3.258905e+07,2.73,2023-08-01,2023-08-01,0,2023-08-03 14:49:22.829799
1,SHSE.600008,1d,3.00,3.06,2.99,3.06,92736808,2.815212e+08,3.00,2023-08-01,2023-08-01,0,2023-08-03 14:49:17.720225
2,SHSE.600009,1d,47.35,47.97,46.81,46.85,17585158,8.312457e+08,47.40,2023-08-01,2023-08-01,0,2023-08-03 14:49:17.743947
3,SHSE.600010,1d,1.89,1.97,1.88,1.93,666319943,1.288699e+09,1.89,2023-08-01,2023-08-01,0,2023-08-03 14:49:17.767190
4,SHSE.600011,1d,8.60,8.98,8.51,8.95,108919674,9.615885e+08,8.60,2023-08-01,2023-08-01,0,2023-08-03 14:49:17.905393
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46014,SHSE.600202,1d,6.03,6.04,5.80,5.92,9522600,5.626309e+07,6.00,2023-08-01,2023-08-01,0,2023-08-03 14:49:25.529460
46015,SHSE.600203,1d,6.05,6.18,6.01,6.13,11008241,6.709001e+07,6.02,2023-08-01,2023-08-01,0,2023-08-03 14:49:25.553138
46016,SHSE.600206,1d,13.34,13.40,13.21,13.39,6596089,8.774936e+07,13.34,2023-08-01,2023-08-01,0,2023-08-03 14:49:25.578166
46017,SHSE.600207,1d,5.36,5.36,5.32,5.34,10836422,5.779177e+07,5.35,2023-08-01,2023-08-01,0,2023-08-03 14:49:25.603678
46018,SHSE.600208,1d,2.76,2.82,2.74,2.77,133009369,3.702288e+08,2.77,2023-08-01,2023-08-01,0,2023-08-03 14:49:25.738975