In [1]:
from XQuant import DataAPI

In [2]:
print(list(filter(lambda x:'__' not in x, DataAPI.__dict__.keys())))

['get_data', 'get_data_from_sql', 'get_data_gm_future', 'get_data_gm_factor', 'get_data_general', 'select', 'select_date', 'select_ticker', 'select_fields']

- get_data封装了get_data_from_sql， get_data_gm_future， get_data_gm_factor， get_data_general
- select封装了select_date，select_ticker，select_fields
get系列获取数据，select系列筛选数据

In [3]:
# 从h5数据读取
DataAPI.get_data("ResConSecTarpriScore", begin="20210501", ticker="000400").head()

,secCode,secName,repForeDate,conTarPriceType,conTarPrice,tarPriceLastDate,conScoreType,conScore,scoreLastDate,closePrice,conTarReturn,updateTime
0,000400,许继电气,2023-01-03,2,24.25,2022-10-31,1,1.0,2022-10-31,20.71,0.1709,2023-01-03 17:36:27
1,000400,许继电气,2023-01-04,1,24.15,2023-01-03,1,1.0,2023-01-03,20.40,0.1838,2023-01-04 17:36:13
2,000400,许继电气,2023-01-05,1,24.15,2023-01-03,1,1.0,2023-01-03,20.84,0.1588,2023-01-05 17:36:19
3,000400,许继电气,2023-01-06,1,24.15,2023-01-03,1,1.0,2023-01-03,21.37,0.1301,2023-01-06 17:36:24
4,000400,许继电气,2023-01-09,1,24.15,2023-01-03,1,1.0,2023-01-03,21.71,0.1124,2023-01-09 17:36:11

In [4]:
# 期货数据
DataAPI.get_data(name="Price_Volume_Data/main", begin='20230101').head()

,symbol,open,high,low,close,volume,amount,position,bob,eob
0,DCE.fb2303,1244.0,1244.0,1243.5,1243.5,8,99485.0,1542,2023-01-03 09:00:00+08:00,2023-01-03 09:01:00+08:00
1,DCE.fb2303,1242.0,1242.5,1241.5,1242.0,9,111765.0,1548,2023-01-03 09:01:00+08:00,2023-01-03 09:02:00+08:00
2,DCE.fb2303,1242.0,1242.5,1242.0,1242.5,6,74545.0,1553,2023-01-03 09:02:00+08:00,2023-01-03 09:03:00+08:00
3,DCE.fb2303,1243.0,1243.0,1242.0,1243.0,14,173960.0,1549,2023-01-03 09:03:00+08:00,2023-01-03 09:04:00+08:00
4,DCE.fb2303,1242.5,1242.5,1242.5,1242.5,2,24850.0,1548,2023-01-03 09:04:00+08:00,2023-01-03 09:05:00+08:00

In [5]:
# 原生的掘金因子数据
DataAPI.get_data(name="ACCA_gm", begin='20230101').head()

        symbol   end_date      MANANETR     NETPROFIT      TOTASSET   pub_date
0  SHSE.600000 2022-12-31  3.650990e+11  5.199700e+10  8.704651e+12 2023-04-19
1  SHSE.600004 2022-12-31  8.685067e+08 -1.091790e+09  2.694079e+10 2023-04-19
2  SHSE.600006 2022-12-31 -2.900338e+08  2.948464e+08  1.768608e+10 2023-04-11
3  SHSE.600007 2022-12-31  1.824331e+09  1.116853e+09  1.282729e+10 2023-03-29
4  SHSE.600008 2022-12-31  3.024188e+09  4.374556e+09  1.048832e+11 2023-04-13

In [6]:
# 从sql源获取数据
DataAPI.get_data('gmData_history', begin='20230801').head()

SELECT * FROM "gmData_history" WHERE bob >= %(begin)s AND bob <= %(end)s;

,symbol,frequency,open,high,low,close,volume,amount,pre_close,bob,eob,position,record_time
0,SHSE.600136,1d,2.72,2.81,2.70,2.75,11846985,3.258905e+07,2.73,2023-08-01,2023-08-01,0,2023-08-03 14:49:22.829799
1,SHSE.600008,1d,3.00,3.06,2.99,3.06,92736808,2.815212e+08,3.00,2023-08-01,2023-08-01,0,2023-08-03 14:49:17.720225
2,SHSE.600009,1d,47.35,47.97,46.81,46.85,17585158,8.312457e+08,47.40,2023-08-01,2023-08-01,0,2023-08-03 14:49:17.743947
3,SHSE.600010,1d,1.89,1.97,1.88,1.93,666319943,1.288699e+09,1.89,2023-08-01,2023-08-01,0,2023-08-03 14:49:17.767190
4,SHSE.600011,1d,8.60,8.98,8.51,8.95,108919674,9.615885e+08,8.60,2023-08-01,2023-08-01,0,2023-08-03 14:49:17.905393