In [5]:
import numpy as np

In [9]:
np.stack([np.arange(10), np.arange(10)], axis=1)

array([[0, 0],
       [1, 1],
       [2, 2],
       [3, 3],
       [4, 4],
       [5, 5],
       [6, 6],
       [7, 7],
       [8, 8],
       [9, 9]])

In [1]:
from XQuant import DataReady
dr = DataReady(begin='20220101')
dr.returns

ticker,600000.SH,600001.SH,600002.SH,600003.SH,600004.SH,600005.SH,600006.SH,600007.SH,600008.SH,600009.SH,...,301387.SZ,301388.SZ,301389.SZ,301391.SZ,301396.SZ,301398.SZ,301408.SZ,301419.SZ,301429.SZ,301439.SZ
2022-01-04,0.0047,NaN,NaN,NaN,0.0332,NaN,0.0088,0.0104,0.0235,0.0392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-05,0.0082,NaN,NaN,NaN,0.0297,NaN,-0.0116,-0.0234,-0.0057,0.0066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-06,-0.0081,NaN,NaN,NaN,-0.0398,NaN,0.0029,0.0042,0.0231,0.0033,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-07,0.0163,NaN,NaN,NaN,0.0130,NaN,-0.0044,0.0112,-0.0085,0.0202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-10,0.0011,NaN,NaN,NaN,0.0080,NaN,0.0162,0.0395,-0.0057,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-24,0.0014,NaN,NaN,NaN,-0.0094,NaN,-0.0050,0.0021,0.0034,-0.0173,...,-0.0042,0.0015,0.0039,-0.0126,0.0811,0.0342,-0.0033,0.0050,0.0017,0.0034
2023-07-25,0.0196,NaN,NaN,NaN,0.0286,NaN,0.0455,0.0241,0.0069,0.0224,...,0.0104,0.0118,0.0107,0.0216,0.0097,0.1212,0.0142,0.0131,0.0746,0.0118
2023-07-26,0.0028,NaN,NaN,NaN,-0.0107,NaN,-0.0371,0.0475,0.0068,-0.0165,...,-0.0297,-0.0233,-0.0117,-0.0105,-0.0278,-0.0479,-0.0161,-0.0595,0.2002,-0.0105
2023-07-27,0.0110,NaN,NaN,NaN,0.0022,NaN,0.0084,-0.0272,-0.0034,0.0089,...,0.0046,0.0370,-0.0236,-0.0019,-0.0323,-0.0465,-0.0224,-0.0150,-0.1060,0.0084
2023-07-28,0.0176,NaN,NaN,NaN,0.0122,NaN,0.0382,0.0118,0.0102,0.0462,...,0.0082,-0.0019,0.0109,-0.0022,0.0298,0.0789,0.0050,0.0000,-0.0156,0.0039

In [2]:
df = dr.returns

In [4]:
for i, j in zip(df.iterrows(), df.iterrows()):
    print(i)
    print(j)
    print(all(i == j))
    break

(Timestamp('2022-01-04 00:00:00'), ticker
600000.SH    0.0047
600001.SH       NaN
600002.SH       NaN
600003.SH       NaN
600004.SH    0.0332
              ...
301398.SZ       NaN
301408.SZ       NaN
301419.SZ       NaN
301429.SZ       NaN
301439.SZ       NaN
Name: 2022-01-04 00:00:00, Length: 5291, dtype: float64)
(Timestamp('2022-01-04 00:00:00'), ticker
600000.SH    0.0047
600001.SH       NaN
600002.SH       NaN
600003.SH       NaN
600004.SH    0.0332
              ...
301398.SZ       NaN
301408.SZ       NaN
301419.SZ       NaN
301429.SZ       NaN
301439.SZ       NaN
Name: 2022-01-04 00:00:00, Length: 5291, dtype: float64)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().